.profile a::before{
    border-top: 4px solid #2196f3;
    border-left: 4px solid #2196f3;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.profile a::after{
    border-right: 4px solid #2196f3;
    border-bottom: 4px solid #2196f3;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.nav-items ul li a:hover,
.nav-items ul li .active{
color:#2196f3 !important;
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
}
.logo .social-links a{
    background-color:#2196f3 ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}


.about_header h1::before{
    border-top: 4px solid #2196f3;
    height:0px;
    width:80px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.about_header h1::after{
    border-top: 4px solid #2196f3;
    height:5px;
    width:50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.about_header span{
    color: #2196f3 ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.row span{
    font-weight: bold;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.row #download_cv{
    border:1px solid #2196f3;
    color:#2196f3;
    background-color: white;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.row #download_cv:hover{
    background-color: #2196f3;
    color:white;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.row #hire_me{
    background-color:#2196f3 ;
    color:white;
    border:none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.row #hire_me:hover{
   background-color: white;
   color:#2196f3;
   border:1px solid #2196f3;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
}
.row .progress .progress-bar{
    background-color:#2196f3!important; 
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.education .education_details_1::before{
    background-color: #2196f3;
    width:3px;
    height:auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.education .education_details_2::before{
    background-color: #2196f3;
    width:3px;
    height:auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.fas{
    color:#2196f3 ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.service_header h1::before{
    border-top: 4px solid #2196f3;
    height:0px;
    width:80px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.service_header h1::after{
    border-top: 4px solid #2196f3;
    height:5px;
    width:50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.service_logo i{
    color: #2196f3;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.service_logo i:hover{
    color:white;
    background-color:#2196f3 ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}




.portfolio_header h1::before{
    border-top: 4px solid #2196f3;
    height:0px;
    width:80px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.portfolio_header h1::after{
    border-top: 4px solid #2196f3;
    height:5px;
    width:50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.portfolio_section .portfolio_filter .active{
    color:#2196f3 !important ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.portfolio_section .portfolio_filter button:hover{
    color:#2196f3 !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.portfolio_item .inner_portfolio_items .portfolio_info .icon{
    color:#2196f3 ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

}


.light-box .light-box_content .light-box_controls .previous,
.light-box .light-box_content .light-box_controls .next{
    color:#2196f3 ;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}







.blog_header h1::before{
    border-top: 4px solid #2196f3;
    height:0px;
    width:80px;
}
.blog_header h1::after{
    border-top: 4px solid #2196f3;
    height:5px;
    width:50px;
}
.blog_item .inner_blog-item .blog_image .blog_date{
    background-color: #2196f3;
}
.blog_item .inner_blog-item .blog_info .blog_tags a{
    color:#2196f3 ;
}



.contact_header h1::before{
    border-top: 4px solid #2196f3;
    height:0px;
    width:80px;
}
.contact_header h1::after{
    border-top: 4px solid #2196f3;
    height:5px;
    width:50px;
}
.location_info .location_icon i,
.contact_info .contact_icon i,
.mail_info .mail_icon i{
    color: #2196f3;
}
.submitbutton button{
    color:white;
    background-color:#2196f3 ;
}
